# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual env
venv/
.env
.venv/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# Database files
*.db
*.sqlite
*.sql

# Logs
*.log

# Model checkpoints (nếu nặng, không muốn push)
checkpoint/
*.pth
*.pkl
*.joblib

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db